{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "rules": {
    "max-len": ["error", 120, 2, {
      "ignoreUrls": true,
      "ignoreComments": false
    }],
    "no-console": ["error", { "allow": ["warn", "error"] }]
  }
}
